<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
    <title>DJANGO | VUEJS | CRUD APP</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<div id="starting">
    <div class="container">
        <div class="row">
            <h1>List of Articles
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addArticleModal">ADD
                    ARTICLE
                </button>
            </h1>

            &emsp;
            <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="search_term"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getArticles()">Search</button>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="article in articles">
                    <th scope="row">${article.article_id}</th>
                    <td>${article.article_heading}</td>
                    <td>
                        <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Edit</button>
                        <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

            {% include 'modals/add_modal.html' %}
            {% include 'modals/edit_modal.html' %}

        </div>
    </div>
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
</div>


<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vue-resource.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>